[submodule "Implementation/Core/CSharp"]
	path = Implementation/Core/CSharp
	url = https://github.com/MikelSalazar/OpenUIX_CSharp.git
	branch = development
[submodule "Implementation/Core/JavaScript"]
	path = Implementation/Core/JavaScript
	url = https://github.com/MikelSalazar/OpenUIX_JavaScript.git
	branch = development
[submodule "Implementation/Platforms/Threejs"]
	path = Implementation/Platforms/Threejs
	url = https://github.com/MikelSalazar/OpenUIX_Threejs.git
	branch = development
[submodule "Implementation/Platforms/Unity"]
	path = Implementation/Platforms/Unity
	url = https://github.com/MikelSalazar/OpenUIX_Unity.git
	branch = development
